body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-image: url(./images/white.png);
}

header {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    transition: transform 0.3s;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
    transition: transform 0.3s;
}

header h1:hover,
header h2:hover {
    transform: scale(1.1);
}

main {
    padding: 2rem;
}

.catalogue {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.catalogue h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}

.catalogue h3:hover {
    transform: scale(1.1);
}

.product {
    text-align: center;
}

.product h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
}

.product h4:hover {
    transform: scale(1.1);
}

.product ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.product ul li {
    background-color: #e6e6e6;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    transition: transform 0.3s;
}

.product ul li:hover {
    transform: scale(1.1);
}

.product p {
    font-size: 1rem;
    margin: 0.5rem 0;
    transition: transform 0.3s;
}

.product p:hover {
    transform: scale(1.1);
}

.catalogue img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.catalogue img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 1em;
    text-align: center;
    box-sizing: border-box;
}
.sample-images {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.sample-images h3 {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}
.whatsapp {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1120;
  }
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}